#search_inp {
    border: 1px solid rgb(71, 66, 66, 0.6);
    padding: 7px;
    margin: 10px 0;
    border-radius: 3%;
    width: 300px;
}

#search_btn {
    margin-left: 10px;
    padding: 7px;
    cursor: pointer;
    background-color: rgb(203, 106, 31);
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 8%;
    text-align: center;
}

#search_btn:hover {
    background-color: rgb(191, 130, 55);
    color: rgb(56, 51, 51);
}

@media screen and (max-width: 800px) {
    #search_inp {
        width: 150px;
    }
}

@media screen and (max-width: 650px) {
    #search_inp {
        width: 130px;
    }

    #search_btn {
        display: none;
    }
}

@media screen and (max-width: 570px) {
    #search_inp {
        display: none;
    }

    #search_btn {
        display: none;
    }
}